<h1>Wait for Translation</h1>

<input ng-controller="JobFetchController" type="button" ng-click="getHistory($event)" value="Get Entire Job History">

<div ng-controller="WaitTranslationController">

    <p>Original Request</p>
    <pre>{{ originalRequest }}</pre>

    <p>Sessions</p>
    <div style="margin:5px; padding:5px; border:1px solid gray;" ng-repeat="session in sessions">
        <pre>{{ session }}</pre>
        <p>UID: {{ session.uid }}</p>
        <p>TargetLanguage: {{ session.targetLanguageCode }}</p>
        <p>Status: {{ session.status }}</p>
        <p>TranslatedText: {{ session.translatedText }}</p>
        <div ng-show="session.status == 'accepted' || session.status == 'completed'">
            Additional Actions:
            <a class="twitter-share-button" href="{{ session.twitter }}">Tweet</a>
            <script>
                window.twttr=(function(d,s,id){
                    var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};
                    if(d.getElementById(id))
                        return;

                    js=d.createElement(s);
                    js.id=id;
                    js.src="https://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js,fjs);
                    t._e=[];
                    t.ready=function(f){
                        t._e.push(f);
                    };
                    return t;
                }(document,"script","twitter-wjs"));
            </script>
            <input type="button" ng-click="saveToDropbox(session.uid)" value="Save on Dropbox">
        </div>
    </div>

    <p>Memory</p>
    <pre>{{ memory }}</pre>
</div>
